<head>
    <meta charset="UTF-8">
    <title>{{page.title}} {{page.title_home}} {{page.title_disclaimer}} {{page.title_contact}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">


    <script src="https://use.fontawesome.com/9352ebec10.js"></script>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="{{ '../../css/main.css' | relative_url }}">
    <script src="{{ '../../js/nav/responsive-nav.js' | relative_url }}"></script>


</head>