<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="{{ '../../js/main.js' | relative_url }}"></script>
<script src="{{ '../../js/google_maps.js' | relative_url }}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={geheime key}&callback=initMap"></script>
<script src="{{ '../../js/nav/fastclick.js' | relative_url }}"></script>
<script src="{{ '../../js/nav/scroll.js' | relative_url }}"></script>
<script src="{{ '../../js/nav/fixed-responsive-nav.js' | relative_url }}"></script>
