// Colors

$light-orange: hsla(13, 50%, 57%, 1);

$dark-orange: hsla(14, 65%, 44%, 1);

$dark-blue: hsla(220, 30%, 22%, 1);

$white: hsla(0, 100%, 100%, 1);

$transp-black: hsla(0, 0%, 0%, 0.5);
$transp-black2: hsla(0, 0%, 0%, 0.8);
$black: hsla(0, 0%, 0%, 1);

$broken-white: #FBf7D1;

$transp-white: hsla(0, 100%, 100%, 0.8);