.button-form,
.button1{
  background-color: $dark-orange;
  display: block;
  width: 270px;
  height: 40px;
  text-align: center;
  border-radius: 90px;
  color: $white;
  margin-top: 20px;
  border: none;
  text-decoration: none;
}

//.button1:hover{
//  background-color:transparent;
//  border: solid $dark-orange 2px;
//  display: block;
//  width: 270px;
//  height: 40px;
//  text-align: center;
//  border-radius: 90px;
//  color: $dark-orange;
//  text-decoration: none;
//}

.button1:hover{
  background-color:$white;
}

.button1{
  color: $black;
}

.button2{
  background-color: transparent;
  border: solid $dark-orange 2px;
  display: block;
  width: 270px;
  height: 40px;
  text-align: center;
  border-radius: 90px;
  color: $dark-orange;
  margin-top: 20px;
  text-decoration: none;
}

.button2:hover{
  border: solid $white 2px;
  color: $white;
}
//.button2:hover{
//  background-color: $dark-orange;
//  display: block;
//  width: 270px;
//  height: 40px;
//  text-align: center;
//  border-radius: 90px;
//  color: $black;
//  border: none;
//  text-decoration: none;
//}

.button-form2,
.button1,
.button2{
  padding-top: 8px;
}





#search-button{
  width: 8%;
  height: 100%;
  background-color: $dark-orange;
  border: none;
  margin: 0;
  position: relative;
  left: -5px;
}

@media (max-width: 400px){
  .button-form{
    width: 100%;
  }
}